.block-header {
    width: 100%;
    height: 200px;
}
.block-header h1 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    font-size: 64px;
    text-transform: capitalize;
    line-height: 0.8;
    color: #333;
}
.block-explore {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-link {
    color: #42c5d8;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
}
.explore-button {
    background:  #f8f8f9;
    border: none;
    width: 40px;
    height: 50px;
    font-size: 1.3em;
    font-weight: 800;
    transition-timing-function: linear;
}
.explore-button:hover {
    cursor: pointer;
}
.block-main-baner {
    height: 400px;
    background: url(../assets/images/main-baner.png) no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 40px;
}